{{ $src := .Get "src" }}

{{ $bookRoot := .Page.CurrentSection }}

{{ if eq .Page.Section "books" }}
  {{ range .Page.Ancestors }}
    {{ if and (eq .Section "books") (ne .RelPermalink "/books/") }}
      {{ $bookRoot = . }}
    {{ end }}
  {{ end }}
{{ end }}

{{ $bookName := path.Base $bookRoot.RelPermalink }}

{{ $filePath := printf "%s/%s" $bookName $src }}

{{ $url := printf "https://xiangcaoshan.netlify.app/.netlify/functions/audio?file=%s" $filePath }}

<audio controls preload="metadata">
  <source src="{{ $url }}" type="audio/mpeg">
</audio>
